h2 {
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0 20px;
}

li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

li h3 {
  margin-bottom: 8px;
}

li a {
  display: inline-block;
  margin-top: 10px;
}
