.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form h2 {
  margin-bottom: 15px;
  text-align: center;
}

form input, form select {
  margin-bottom: 10px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.register-link{
  color: blue;
  cursor: pointer;
}

.register-link :hover {
  text-decoration: underline;
}