.approve-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.reject-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.approve-btn:hover {
  background-color: #218838;
}

.reject-btn:hover {
  background-color: #c82333;
}
